<main class="album-view container narrow">
    <section class="clearfix">
        <div class="column half">
            <img src="/assets/images/album_covers/01.png" class="album-cover-art">
        </div>
        <div class="album-view-details column half">
            <h2 class="album-view-title">Ericka Stenman</h2>
            <p><strong>Favorite artist:</strong> {{profile.albumData.artist }}</p>
            <p><strong>Favorite song:</strong> {{profile.albumData.songs[0].title }}</p>
            <p>Member since 2017</p>
        </div>
    </section>
</main>